llery</h2>
  <form method="POST" action="/decks">
      <label for="decks"> New deck:</label>
      <input id="decks" type="text" name="deck[topic]">
      <input type="submit" value="Create new deck">
   </form>
