<h2>New Deck</h2>
  <form method="POST" action="/decks">
      <label for="decks.topic"> Flashcard topic:</label>
      <input id="decks" type="text" name="deck[topic]">
      <input type="submit" value="Create deck">
   </form>
