<form method="POST" action="/decks/3">
  <input type="hidden" name="_method" value="PATCH">
  <label for="deck_topic">deck name:</label>
  <input id="deck_topic" type="text" name="deck[topic]">
  <input type="submit" name="Submit form">
</form>
